<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular Messenger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<app-root>Loading...</app-root>
<script src="/js/app/bundle.js" defer></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('pk_test_PNTNeymss5PzNqblVNnS85fe');
</script>
</body>
</html>
